@import "../vars";

.holder {
    background-image: url(../../images/glass.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.holder__slider {
    
    .slider-arrows {
        opacity: .25;
        top: 10rem;
    }
}


.holder-slider__subtitle {
    text-align: right;
}

.holder-slider {
    &__head {
       background-repeat: no-repeat; 
       background-position: top left;
       min-height: 78rem;
    }

    &__description {
        min-height: 17.5rem;
        background-repeat: no-repeat;
        background-position: right center;
        padding-top: 5rem;
        margin-top: -12rem;
        margin-bottom: 8rem;
    }

    &__btn {
        text-align: center;

        &--shop {
            text-align: left;;
        }
    }
}   

.holder-slider__info {
    display: flex;
    justify-content: space-between;
    
    &-item {
        position: relative;
        margin-bottom: 6.5rem;
        height: 20rem;
        width: 25%;
    }

    &-title {
        
        .holder-pricing__span {
            display: block;
            font-size: 1.4rem;
            line-height: 3.6rem;
            letter-spacing: 5.25px;
            color: rgba($white, .75);
            padding-left: 10.4rem;
        }
    }
}


.holder-slider__info-subtitle {
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: .8rem;
    opacity: .5;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    width: 195px;
    text-align: right;
    left: -90px;
    bottom: 95px;
    white-space: nowrap;  
}
.holder-slider__info-title {
    font-weight: 800;
    font-size: 4rem;
    line-height: 3.6rem;
    padding-left: 4rem;
    &--sleep {
        letter-spacing: .6rem;
    }
}

.holder-content {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
}

.description__head {
    img {
        margin-left: 2.5rem;
        display: inline-block;
        height: 43px;
    }
}

