@import "../vars";

.surf {
    background-image: url(../images/marker.svg);
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;
}


/*  Slider   */
.slider-map {
   width: 100%; 
   max-width: 120rem;
   margin: 0 auto;
   min-height: 63.5rem;
   background-image: url(../images/world-map-dots.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   
   .slick-list {
     min-height: 63.5rem; 
     overflow: visible; 
   }

   .slick-current {
       .slider-points__content {
           display: flex;
           
       }
   }
}

.slider-points__circle {
    width: 2rem;
    height: 2rem;
    background-color: $green;
    border-radius: 50%;
    box-shadow: 0 0 35px 0 rgba($green, .84);
    z-index: 4;
}
.slider-points__content {
    display: none;
    flex-direction: column;
    width: 28.5rem;
    padding: 28px 31px 0 32px; 
    background-color: rgba(#0F1010, .8);
    border-radius: 6px;
    position: absolute;
    bottom: 3.5rem;
    right: -1rem;
    z-index: 5;

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: -23px;
        left: 44%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}

.slider-points__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.slider-points__content-item {
    flex-direction: column;
    display: flex;
    justify-content: center;

    img {
        margin-bottom: 1rem;
    }
}

.slider-points__content-number {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: .7rem;
}

.slider-points__content-name {
    font-size: 1rem;
    font-weight: 300;
}

.slider-points__content-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 800;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-color: $green;
        width: 8rem;
        height: .1rem;
        bottom: 0;
        left: 0;
    }
}

.slider-points__content-subtitle {
    font-size: 1.6rem;
    text-transform: capitalize;
}
.slider-points__content-link {
    padding-top: 6px;
    img {
        width: 16px;
        height: 13px;
    }
}

.slider-points {
    position: relative;
}

.slider-points--1 {
    top: 33.5rem;
    left: 0;
}
.slider-points--2{
    top: 27rem;
    left: 0;
    .slider-points__circle {
        position: relative;
        &::before {
            content:'';
            position: absolute;
            background-image: url(../images/mini-marker.svg);
            width: 14px;
            height: 17px;
            background-size: cover;
            right: -1.5rem;
            top: -2.5rem;
        }    
    }
}
.slider-points--3{
    top: 33rem;
    left: 0;
}
.slider-points--4{
    top: 50rem;
    left: -5rem;
}
.slider-points--5{
    top: 22rem;
    left: -5rem; 
}
.slider-points--6{
    top: 55rem;
    left: -13rem;
}
.slider-points--7{
    top: 38rem;
    left: -7rem;
}
.slider-points--8
{
    top: 48rem;
    left: 0;
}

.surf-slider {
    padding-top: 11rem;
    transition: all .5s;
  
    .slider-arrows {
        opacity: .25;
        top: 50px;
    }

    .slick-slide:nth-child(4n + 1) {
        .surf-box {
            margin-top: 3rem;
        }
    }
    .slick-slide:nth-child(4n + 3) {
        .surf-box {
            margin-top: 9rem;            
        }
    }
    .slick-current {
        .surf-box__inner-btn {
            display: block;
        } 
        .surf-box__inner {
            background: rgba(#1c2121, .3);
        } 
    }             
}

.surf-box {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__inner {
        min-height: 750px;
        background: rgba(#1c2121, .85);
        position: relative;
        transition: all .5s;
        &:hover {
            background: rgba(#1c2121, .3); 
            .surf-box__inner-btn {
                display: block;
            }

        }
    }
}
.surf-box__inner-title {
    font-weight: 800;
    font-size: 4rem;
    line-height: 3.6rem;
    padding: 7rem 0 0 4rem;
    width: 14rem;
}
.surf-box__inner-location {
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: .8rem;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    white-space: nowrap;
    height: 0;
    width: 0;

    span {
        font-weight: 100;
    }
}

.surf-box__inner-btn {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    display: none;
}
